@import "tailwindcss";

@theme{
    --color-warmGray: #EFEBE3;
    --color-green: #179800;
    --color-offer-button: rgb(99, 183, 109);
    --color-dawat-bg:rgb(17, 84, 20);
    --color-india-gate:rgb(16, 40, 97);
}
